<section class="contentBlock container">
  <div class="contentBlock__textBlock">
    <h2 class="sectionTitle">About us</h2>
    <p class="contentText contentText--accentuated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
    <p class="contentText">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
  </div>
  <div class="contentBlock__imageBlock">
    <div class="contentBlock__image">
      <img src="img/about-img.jpg" alt="" srcset="img/about-img.webp">
    </div>
  </div>
</section>
