<section class="contacts">
  <h3 class="sectionTitle">Contact</h3>
  <p class="contentText contentText--accetuated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
  <form name="contactForm" method="POST" action="" class="contactForm container">
    <input class="contactForm__input" type="text" name="name" placeholder="Name">
    <input class="contactForm__input" type="email" name="email" placeholder="Email">
    <input class="contactForm__input" type="tel" name="phone" placeholder="Phone">
    <textarea class="contactForm__input contactForm__input--massage" name="massage" cols="30" rows="3" placeholder="Massage"></textarea>
    <ul class="contactForm__links">
      <li class="contactForm__linksItem">
        <a href="#" class="contactForm__link">
            <svg class="inlineSvg contactForm__icon">
              <use xlink:href="img/symbol/icon-sprite.svg#icon-map-marker"/>
            </svg> London Boulevard, U.K.
        </a>
      </li>
      <li class="contactForm__linksItem">
        <a href="tel:+40729131637" class="contactForm__link">
            <svg class="inlineSvg contactForm__icon">
              <use xlink:href="img/symbol/icon-sprite.svg#icon-phone"/>
            </svg>+40 729 131 637/+40 726 458 782</a>
      </li>
      <li class="contactForm__linksItem">
        <a href="tomail:office@mindblister.com" class="contactForm__link">
            <svg class="inlineSvg contactForm__icon">
              <use xlink:href="img/symbol/icon-sprite.svg#icon-mail"/>
            </svg>office@mindblister.com</a>
      </li>
    </ul>
    <button class="siteBtn siteBtn--yellow" type="submit">Send massage</button>
  </form>
  <div class="contacts__map">
    <img src="img/map.jpg" alt="" class="contacts__mapImage">
  </div>
</section>
