<section class="menu contentBlock container">
  <h3 class="sectionTitle">Delicious menu</h3>
  <p class="sectionSubtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
  <div class="menu__slider">
    <ul class="menu__pagination">
      <li class="menu__paginationItem">
        <button class="menu__toggle" data-tab-number="1" data-active="1">Soup</button>
      </li>
      <li class="menu__paginationItem">
        <button class="menu__toggle" data-tab-number="2" data-active="">Pizza</button>
      </li>
      <li class="menu__paginationItem">
        <button class="menu__toggle" data-tab-number="3" data-active="">Pasta</button>
      </li>
      <li class="menu__paginationItem">
        <button class="menu__toggle" data-tab-number="4" data-active="">Desert</button>
      </li>
      <li class="menu__paginationItem">
        <button class="menu__toggle" data-tab-number="5"  data-active="">Wine</button>
      </li>
      <li class="menu__paginationItem">
        <button class="menu__toggle" data-tab-number="6" data-active="">Beer</button>
      </li>
      <li class="menu__paginationItem">
        <button class="menu__toggle" data-tab-number="7" data-active="">Drinks</button>
      </li>
    </ul>
    <ul class="menu__sliderList">
      <li class="menu__slide" data-tab-number="1">
        <ul class="menu__content">
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
        </ul>
      </li>
      <li class="menu__slide" data-tab-number="2">
        <ul class="menu__content">
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
        </ul>
      </li>
      <li class="menu__slide" data-tab-number="3">
        <ul class="menu__content">
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
        </ul>
      </li>
      <li class="menu__slide" data-tab-number="4">
        <ul class="menu__content">
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
        </ul>
      </li>
      <li class="menu__slide" data-tab-number="5">
        <ul class="menu__content">
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
        </ul>
      </li>
      <li class="menu__slide" data-tab-number="6">
        <ul class="menu__content">
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
        </ul>
      </li>
      <li class="menu__slide" data-tab-number="7">
        <ul class="menu__content">
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
          <li class="menu__item">
            <p class="menu__itemName">Pizza quatro stagioni</p>
            <span class="menu__itemDelimiter">....</span>
            <p class="menu__itemPrice" data-currency="usd">55,68</p>
            <p class="menu__itemDescription">Integer ullamcorper neque eu purus euismod</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</section>
