<header class="mainHeader">
  //= site-nav.html
  <section class="mainHeader__presentation presentation container">
    <div class="logo flex-center">
      <img class="logo__img" src="img/logo.svg" alt="logotype">
    </div>
    <div class="presentation__leftSide">
      <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
    </div>
    <div class="presentation__centerBlock">
      <p class="sectionSubtitle">Restaurant</p>
      <h1 class="sectionTitle">Hungry people</h1>
      <div class="presentation__btnBlock">
        <a href="#" class="siteBtn siteBtn--yellow">Book table</a>
        <a href="#" class="siteBtn siteBtn--outline">Explore</a>
      </div>
      <button class="downBtn flex-center">
        <svg class="inlineSgv">
          <use xlink:href="img/symbol/icon-sprite.svg#icon-arrow-done"/>
        </svg>
      </button>
    </div>
    <div class="presentation__rightSide">
      <ul class="social">
        <li class="social__item flex-center">
          <a href="" class="social__link flex-center" aria-label="Facebook">
            <svg class="inlineSgv">
              <use xlink:href="img/symbol/icon-sprite.svg#icon-fb"/>
            </svg>
          </a>
        </li>
        <li class="social__item flex-center">
          <a href="" class="social__link flex-center" aria-label="Twitter">
            <svg class="inlineSgv">
              <use xlink:href="img/symbol/icon-sprite.svg#icon-tw"/>
            </svg>
          </a>
        </li>
        <li class="social__item flex-center">
          <a href="" class="social__link flex-center" aria-label="Instagram">
            <svg class="inlineSgv">
              <use xlink:href="img/symbol/icon-sprite.svg#icon-insta"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</header>
