<section class="photoGallery">
  <ul class="photoGallery__list">
    <li class="photoGallery__item"><img src="img/gallery/img1.jpg" alt="" class="photoGallery__image"></li>
    <li class="photoGallery__item"><img src="img/gallery/img2.jpg" alt="" class="photoGallery__image"></li>
    <li class="photoGallery__item"><img src="img/gallery/img3.jpg" alt="" class="photoGallery__image"></li>
    <li class="photoGallery__item"><img src="img/gallery/img4.jpg" alt="" class="photoGallery__image"></li>
  </ul>
</section>
