<section class="contentBlock container privateEvents top-keyword" data-keyword="private events">
  <div class="contentBlock__imageBlock">
    <div class="contentBlock__image">
      <img src="img/weddings.jpg" alt="" srcset="img/weddings.webp">
      <h3 class="contentBlock__imageTitle">Weddings</h3>
    </div>
  </div>
  <div class="contentBlock__imageBlock">
    <div class="contentBlock__image">
      <img src="img/pzrties.jpg" alt="" srcset="img/pzrties.webp">
      <h3 class="contentBlock__imageTitle">Corporate pzrties</h3>
    </div>
  </div>
  <p class="privateEvents__description">For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.</p>
</section>
