<nav class="siteNavigation container">
  <ul class="siteNavigation__list">
    <li class="siteNavigation__item">
      <a class="siteNavigation__link" href="#">Home</a>
    </li>
    <li class="siteNavigation__item">
      <a class="siteNavigation__link" href="#">About</a>
    </li>
    <li class="siteNavigation__item">
      <a class="siteNavigation__link" href="#">Team</a>
    </li>
    <li class="siteNavigation__item">
      <a class="siteNavigation__link" href="#">Booking</a>
    </li>
    <li class="siteNavigation__item">
      <a class="siteNavigation__link" href="#">Menu</a>
    </li>
    <li class="siteNavigation__item">
      <a class="siteNavigation__link" href="#">Gallery</a>
    </li>
    <li class="siteNavigation__item">
      <a class="siteNavigation__link" href="#">Events</a>
    </li>
    <li class="siteNavigation__item">
      <a class="siteNavigation__link" href="#">Contact</a>
    </li>
  </ul>
</nav>
