<section class="top-keyword container specialties" data-keyword="Specialties">
  <div class="slider">
    <ul class="slider__list">
      <li class="slider__slide slider__slide--empty contentBlock contentBlock--reverse">
        <div class="contentBlock__textBlock">
          <h3 class="sectionTitle">Chocolate pancakes</h3>
          <p class="contentText contentText--accentuated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
          <p class="contentText">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </div>
        <div class="contentBlock__imageBlock">
          <div class="contentBlock__image">
            <img src="img/pancakes.jpg" alt="" srcset="img/pancakes.webp">
          </div>
        </div>
      </li>
      <li class="slider__slide slider__slide--active contentBlock contentBlock--reverse">
        <div class="contentBlock__textBlock">
          <h3 class="sectionTitle">Chocolate pancakes</h3>
          <p class="contentText contentText--accentuated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
          <p class="contentText">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </div>
        <div class="contentBlock__imageBlock">
          <div class="contentBlock__image">
            <img src="img/pancakes.jpg" alt="" srcset="img/pancakes.webp">
          </div>
        </div>
      </li>
      <li class="slider__slide contentBlock contentBlock--reverse">
        <div class="contentBlock__textBlock">
          <h3 class="sectionTitle">Chocolate pancakes</h3>
          <p class="contentText contentText--accentuated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
          <p class="contentText">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </div>
        <div class="contentBlock__imageBlock">
          <div class="contentBlock__image">
            <img src="img/pancakes.jpg" alt="" srcset="img/pancakes.webp">
          </div>
        </div>
      </li>
      <li class="slider__slide contentBlock contentBlock--reverse">
        <div class="contentBlock__textBlock">
          <h3 class="sectionTitle">Chocolate pancakes</h3>
          <p class="contentText contentText--accentuated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
          <p class="contentText">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </div>
        <div class="contentBlock__imageBlock">
          <div class="contentBlock__image">
            <img src="img/pancakes.jpg" alt="" srcset="img/pancakes.webp">
          </div>
        </div>
      </li>
    </ul>
    <ul class="slider__pagination">
      <li class="slider__paginationItem">
        <button class="slider__paginationToggle slider__paginationToggle--active hideText">toggle first slide</button>
      </li>
      <li class="slider__paginationItem">
        <button class="slider__paginationToggle hideText">toggle second slide</button>
      </li>
      <li class="slider__paginationItem">
        <button class="slider__paginationToggle hideText">toggle third slide</button>
      </li>
    </ul>
  </div>
</section>
