.mainHeader {
  color: #ffffff;
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .use-webp & {
    background-image: url("../img/header-bg.webp");
  }
}
