.privateEvents {
  background: linear-gradient(to right, transparent 0%, transparent calc(20% - 1px), rgba(255, 255, 255, 0.2) 20%, transparent calc(20% + 1px), transparent calc(50% - 1px), rgba(255, 255, 255, 0.2) 50%, transparent calc(50% + 1px), transparent calc(80% - 1px), rgba(255, 255, 255, 0.2) 80%, transparent calc(80% + 1px)), url("../img/private-events-bg.jpg") center no-repeat;

  &__description {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%) translateY(50%);
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
  }

  & .contentBlock__imageTitle {
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 2rem;
    margin: 0;

    font-family: Banny;
    font-size: 2.4rem;
    line-height: 8rem;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    border-radius: 5px 5px 0 0;
  }

  & .contentBlock__imageBlock:first-of-type {
    justify-content: flex-end;

    & .contentBlock__image::before {
      left: 0;
    }

    & .contentBlock__imageTitle {
      left: 100%;
      transform-origin: top left;
      transform: rotateZ(90deg);
    }
  }

  & .contentBlock__imageBlock:last-of-type {

    & .contentBlock__imageTitle {
      right: 100%;
      transform-origin: top right;
      transform: rotateZ(-90deg);
    }
  }

}
